<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase font-weight-bold">RecipeBook</h5>
        <p>
          Discover the best recipes from around the world.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#home" class="text-dark">Home</a>
          </li>
          <li>
            <a href="#recipes" class="text-dark">Recipes</a>
          </li>
          <li>
            <a href="#contact" class="text-dark">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com" class="text-dark"><i class="fa-brands fa-facebook-f"></i> Facebook</a>
          </li>
          <li>
            <a href="https://x.com/i/flow/login" class="text-dark"><i class="fa-brands fa-twitter"></i>Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com" class="text-dark"><i class="fa-brands fa-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark text-white">
    © 2024 RecipeApp
  </div>
</footer>
